main {
  overflow: scroll;
  grid-area: main;
  padding: 3% 10%;
}

.pageWrap {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 95vh 5vh;
  grid-template-areas:
  "nav main"
  "nav footer";
}

@media screen and (max-width: 767px) {
  .pageWrap {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 75vh auto;
    grid-template-areas:
    "nav"
    "main"
    "footer";
  }
}
