.mobileheader {
  height: 20vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-end;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);

  grid-area: nav;
}

.mainLogo {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}
